html,
body {
  height: 100%;
  margin: 0;
}

.boards {
  display: flex;
  flex-wrap: wrap;
  /* allows wrapping onto new lines */
  gap: 20px;
  /* optional space between boards */
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  width: 400px;
  border: 2px solid #333;
  font-family: "FreeSerif", sans-serif;
  
}

.cell {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.light {
  background-color: #eee;
}

.dark {
  background-color: #769656;
}

.highlight {
  background-color: #9af5ff;
  box-shadow: inset 0 0 0 2px #29495c;
}

